attrs==20.2.0
beautifulsoup4==4.9.3
bleach==3.2.1
bs4==0.0.1
chromedriver==2.24.1
decorator==4.4.2
defusedxml==0.6.0
distlib==0.3.1
dj-database-url==0.5.0
Django==3.1.2
django-cors-headers==3.6.0
django-heroku==0.3.1
djangorestframework==3.12.2
entrypoints==0.3
feedparser==6.0.2
filelock==3.0.12
getmac==0.8.2
gunicorn==20.0.4
heroku==0.1.4
json5==0.9.5
jsonschema==3.2.0
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.0.8
nest-asyncio==1.4.2
psycopg2==2.8.6
pycparser==2.20
Pygments==2.7.2
pylint==2.6.0
pyparsing==2.4.7
pyrsistent==0.17.3
python-dateutil==1.5
python-nmap==0.6.1
pytz==2020.1
requests==2.24.0
soupsieve==2.0.1
sqlparse==0.4.1
urllib3==1.25.11
virtualenv==20.2.2
wcwidth==0.2.5
webencodings==0.5.1
whitenoise==5.2.0

